.c-container {
  border: 1px solid #d8dde6;
  margin: 10px 0 20px 0;
}
.custom-box {
  text-align: center;
  background-color: #f4f6f9;
  padding: 1rem;
  border: 1px solid #d8dde6;
}
.drag {
  border-style: solid dotted;
  opacity: 0.20;
}
.over{
  border-style: solid dotted;
  border-color: green;
}